<div class="row">
	<%= render 'info', user: @user %>
</div>
<% if current_user != @user %>
	<div class="follow-single">
		<div class="follow-wrapper">
			<% if current_user.following? @user %>
				<%= render 'unfollow_button', user: @user %>
			<% else %>
				<%= render 'follow_button', user: @user %>
			<% end %>
		</div>
	</div>
<% end %>
<% @posts.each do |post| %>
	<%= render 'posts/post', post: post %>
<% end %>