<div class="display-wrapper">
	<span class="glyphicon glyphicon-th-list disabled" id="list-display"></span>
	<span class="glyphicon glyphicon-th" id="mosaic-display"></span>
</div>

<%= render 'posts/list', posts: @posts %>