/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #fafafa;
	font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.navbar-brand {
	padding-top: 7px;

	a {
		color: #125688;
	}

	.brand-wrapper {
		border-bottom: 2px solid #000;
	}
}

.navbar-default {
	background-color: #fff;
	height: 54px;
	.navbar-nav li a {
		color: #125688;
	}
}

.navbar-container {
	width: 640px;
	margin: 0 auto;
}

.posts-wrapper {
	padding-top: 40px;
	margin: 0 auto;
	max-width: 642px;
	width: 100%;
}

.post {
	background-color: #fff;
	border: 1px solid #edeeee;
	border-radius: 3px;
	margin-bottom: 60px;


	.post-head {
		flex-direction: row;
		height: 64px;
		font-size: 15px;
		line-height: 18px;

		a {
			color: #125688;
		}

		.thumb-img {
			padding-top: 10px;
			padding-right: 0px;

			img {
				display: block;
			}
		}

		.user-name, .time-ago {
			padding: 24px 24px 0px 24px;
			display: block;
		}

		.user-name {
			font-weight: 500;
		}

		.time-ago {
			color: #a5a7aa;
			text-align: right;
		}
	}

	.image {
		border-bottom: 1px solid #eeefef;
		border-top: 1px solid #eeefef;
	}
}

.post-bottom {
	margin-bottom: 7px;
	padding: 24px 24px 10px 24px;
	font-size: 15px;
	line-height: 18px;

	.user-name, .comment-content {
		display: inline;
	}

	.caption {
		margin-bottom: 7px;
	}

	.user-name, .user-name > a {
		font-weight: 500;
		margin-right: 0.3em;
		color: #125688;
		font-size: 15px;
		text-decoration: none;
	}

	.user-name, .caption-content {
		display: inline;
	}

	.comment {
		margin-top: 7px;

		.user-name, .user-name > a {
			font-weight: 500;
			margin-right: 0.3em;
		}

		.delete-comment {
			float: right;
			color: #515151;
		}
	}

	.see-more {
		margin-top: 7px;

		a {
			color: #a5a7aa;
		}
	}
}

.comment-content {
	font-size: 15px;
	line-height: 18px;
	border: medium none;
	width: 100%;
	color: #4b4f54;
}

.comment-like-form {
	padding-top: 24px;
	margin: 13px 24px 13px 24px;
	min-height: 68px;
	align-items: center;
	border-top: 1px solid #eeefef;
	flex-direction: row;
	justify-content: center;

	.like-button {
		margin-top: 7px;
	}

	.comment-form {
		padding: 0px;
	}
}

.new_comment {
	input {
		border: 1px transparent;
		width: 100%;
		color: #555;
		height: 34px;
		padding: 6px 12px;
		background-color: #fff
	}
}

.form-wrapper {
	width: 60%;
	margin: 20px auto;
	background-color: #fff;
	padding: 40px;
	border: 1px solid #eeefef;
	border-radius: 3px;
}

.edit-links {
	margin-top: 20px;
	margin-bottom: 40px;
}

.alert-container {
	width: 260px;
	margin: 0 auto;
}

.wrapper {
	width: 600px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ededed;
	border-radius: 3px;
	padding: 20px 40px 40px 40px;

	h2, form {
		border-bottom: 1px solid #eeefef;	}

	h2 {
		padding-bottom: 10px;
		margin-bottom: 15px;
	}

	form {
		padding-bottom: 20px;
		margin-bottom: 10px;
	}

	.img-wrapper {
		img {
			display: block;
			margin: 0 auto;
		}
	}
}

.profile-float-container {
	z-index: 99;
}

.profile-float-wrapper {
	position: fixed;
	top: 40%;
	height: 20%;
	height: 100px;

	@media (max-width: 1000px) {
		display: block !important;
	}

	.minimize {
		position: absolute;
		top: -20%;
		left: 43%;
		opacity: 0;
		transition: all 0.25s linear;

		@media (max-width: 1000px) {
			display: none;
		}
	}

	&:hover > .minimize {
		opacity: 1;
		cursor: pointer;
		transition: all 0.5s linear;
	}
}

@media (max-width: 1200px) {
	.profile-float-wrapper {
		left: 5%;
	}
}

@media (max-width: 1000px) {
	.profile-float-wrapper {
		position: relative;
		top: 10%;
		left: 42%;
	}
}

.navbar-nav {
	.profile-nav-li {
		display: none;

		a {
			padding: 6px 0px 0px 10px;
		}

		.maximize {
			position: absolute;
			left: -20%;
			top: 45%;
			opacity: 0;
			transition: all 0.25s linear;
		}

		&:hover > .maximize {
			opacity: 1;
			cursor: pointer;
			transition: all 0.25s linear;
		}
	}
}

.profile-header {
	max-width: 640px;
	margin: 0 auto;
	font-weight: bold;

	h2 {
		color: #125688;
	}

	.info {
		color: #888;

		.border-right {
			border-right: 1px solid #ddd;
			@media(max-width: 768px) {
				border-right: 0px solid transparent;
			}
		}
	}
}