/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "spinner";

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.full-height {
	width: 100%;
	height: calc( 100% - 54px );
}

body {
	background-color: #fafafa;
	font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.container {
	margin-top: 20px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	padding-top: 7px;

	a {
		color: #125688;
	}

	.brand-wrapper {
		border-bottom: 2px solid #000;
	}
}

.navbar-default {
	background-color: #fff;
	height: 70px;
	.navbar-nav li a {
		color: #125688;
	}
}

.navbar-container {
	width: 640px;
	margin: 0 auto;

	.navbar-header {
		
	}

	.navbar-collapse {
		margin-top: 10px;

		.navbar-nav {

			.profile-nav-li {
				display: none;
				margin-right: 10px;

				a {
					padding: 6px 0px 0px 10px;
				}

				.maximize {
					position: absolute;
					left: -20%;
					top: 45%;
					opacity: 0;
					transition: all 0.25s linear;
				}

				&:hover > .maximize {
					opacity: 1;
					cursor: pointer;
					transition: all 0.25s linear;
				}
			}
		}
	}
}

.posts-wrapper {
	padding-top: 40px;
	margin: 0 auto;
	max-width: 642px;
}

.post {
	background-color: #fff;
	border: 1px solid #edeeee;
	border-radius: 3px;
	margin-bottom: 60px;


	.post-head {
		flex-direction: row;
		height: 64px;
		font-size: 15px;
		line-height: 18px;

		a {
			color: #125688;
		}

		.thumb-img {
			padding-top: 10px;
			padding-right: 0px;

			img {
				display: block;
			}
		}

		.user-name, .time-ago {
			padding: 24px 24px 0px 24px;
			display: block;
		}

		.user-name {
			font-weight: 500;
		}

		.time-ago {
			color: #a5a7aa;
			text-align: right;
		}
	}

	.image {
		border-bottom: 1px solid #eeefef;
		border-top: 1px solid #eeefef;
	}
}

.post-bottom {
	margin-bottom: 7px;
	padding: 24px 24px 10px 24px;
	font-size: 15px;
	line-height: 18px;

	.user-name, .comment-content {
		display: inline;
	}

	.likes {
		font-weight: bold;
	}

	.caption {
		margin-bottom: 7px;
	}

	.user-name, .user-name > a {
		font-weight: 500;
		margin-right: 0.3em;
		color: #125688;
		font-size: 15px;
		text-decoration: none;
	}

	.user-name, .caption-content {
		display: inline;
	}

	.comment {
		margin-top: 7px;

		.user-name, .user-name > a {
			font-weight: 500;
			margin-right: 0.3em;
		}

		.delete-comment {
			float: right;
			color: #515151;
		}
	}

	.see-comments-wrapper {
		margin-top: 7px;
		color: #a5a7aa;
	}

	.see-more, .see-all {
		margin-top: 7px;
		color: #a5a7aa;
	}
}

.comment-content {
	font-size: 15px;
	line-height: 18px;
	border: medium none;
	width: 100%;
	color: #4b4f54;
}

.comment-like-form {
	padding-top: 24px;
	margin: 13px 24px 13px 24px;
	min-height: 68px;
	align-items: center;
	border-top: 1px solid #eeefef;
	flex-direction: row;
	justify-content: center;

	.like-button {
		margin-top: 7px;

		a {
			color: #e02323;
		}
	}

	.comment-form {
		padding: 0px;
	}
}

.new_comment {
	input {
		border: 1px transparent;
		width: 100%;
		color: #555;
		height: 34px;
		padding: 6px 12px;
		background-color: #fff;
		outline: 0 none;
	}
}

.edit-links {
	margin-top: 20px;
	margin-bottom: 40px;
}

.alert-container {
	width: 260px;
	margin: 0 auto;
}

/* quizá ya no sirva después de cambiar los registrations forms */
.wrapper {
	width: 600px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ededed;
	border-radius: 3px;
	padding: 20px 40px 40px 40px;

	h2, form {
		border-bottom: 1px solid #eeefef;	}

	h2 {
		padding-bottom: 10px;
		margin-bottom: 15px;
	}

	form {
		padding-bottom: 20px;
		margin-bottom: 10px;
	}

	.img-wrapper {
		img {
			display: block;
			margin: 0 auto;
		}
	}
}

.profile-float-container {
	z-index: 99;
}

.profile-float-wrapper {
	position: fixed;
	top: 40%;
	height: 20%;
	height: 100px;

	@media (max-width: 1000px) {
		display: block !important;
	}

	.minimize {
		position: absolute;
		top: -20%;
		left: 43%;
		opacity: 0;
		transition: all 0.25s linear;

		@media (max-width: 1000px) {
			display: none;
		}
	}

	&:hover > .minimize {
		opacity: 1;
		cursor: pointer;
		transition: all 0.5s linear;
	}
}

@media (max-width: 1200px) {
	.profile-float-wrapper {
		left: 5%;
		margin-bottom: 50px;
		z-index: 1;
	}
}

@media (max-width: 1000px) {
	.profile-float-wrapper {
		position: relative;
		top: 10%;
		left: 42%;
	}
}

.profile-header {
	max-width: 640px;
	margin: 0 auto;
	font-weight: bold;

	h2 {
		color: #125688;
	}

	.info {
		width: 360px;
		margin: 0 auto;
		color: #888;

		.border-right {
			border-right: 1px solid #ddd;
			@media(max-width: 768px) {
				border-right: 0px solid transparent;
			}
		}

		a {
			text-decoration: none;
			color: #888;
		}
	}
}

.follow-single {
	max-width: 360px;
	margin: 0 auto;
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding-top: 20px;

	.follow-wrapper {
		text-align: center;

		.title {
			font-size: 10px;
			margin-bottom: 5px;
			font-weight: bold;

			&.title-follow {
				color: #3c763d;
			}

			&.title-unfollow {
				color: #8a6d3b;
			}
		}

		a {
			text-decoration: none;
			border-radius: 50%;
			width: 56px;
			height: 56px;
			display: inline-block;

			span {
				font-size: 20px;
				position: relative;
				top: 16px;
			}
		}

		.follow {
			color: #3c763d;
		    background-color: #dff0d8;
		    border: 1px solid #d6e9c6;
		}

		.unfollow {
			border: 1px solid #faebcc;
			background-color: #fcf8e3;
			color: #8a6d3b;
		}
	}
}

.follow-info-container {
	max-width: 440px;
	margin: 0 auto;
	margin-top: 50px;
	border-top: 1px solid #ddd;

	h3 {
		text-align: center;
	}

	.follow-info {
		max-width: 360px;
		margin: 0 auto;

		li {
			padding: 7px 5px;
			border-bottom: 1px solid #ddd;

			&:last-child {
				border-bottom: none;
			}

			.user-name, .follow-wrapper {
				height: 32px;
				padding-top: 5px;
			}

			.follow-wrapper {

				.unfollow {
	    			border: 1px solid #faebcc;
					background-color: #fcf8e3;
					color: #8a6d3b;
					padding: 10px;
					border-radius: 4px;
				}

				.follow {
				    color: #3c763d;
				    background-color: #dff0d8;
				    border: 1px solid #d6e9c6;
					padding: 10px 17px;
					border-radius: 4px;
				}
			}

			a {
				color: #125688;
				text-decoration: none;
			}
		}

		.empty {
			color: #999;
			text-align: center;
			padding: 25px;
		}
	}

	.back {
		padding-top: 20px;
		border-top: 1px solid #ddd;
	}
}

.search-wrapper {
	max-width: 280px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	position: relative;
	color: #aaa;

	.search-input {
		border: 1px solid #ddd;
		border-radius: 15px;
		background-color: #eee;
		width: 220px;
		height: 31px;
		padding: 3px 15px;
		transition: 0.25s all;

		&:focus {
			outline: 0 none;
			background-color: #fff;
			transition: 0.25s all;

			& + .placeholder {
				display: none;
			}
		}
	}

	.placeholder {
		position: absolute;
		top: 8px;
		left: 38%;
		margin: 0 auto;
		text-align: center;
		font-size: 13px;
	}
}

.registration-bg {
	background: url(registrationbackground.jpg) no-repeat center center fixed;
}

.login-bg {
	background: url(loginbackground.jpg) no-repeat center center fixed;
}

.bg {
	padding-top: 4em;
	height: 100%;
	width: 100%;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.log-in {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: none;
}

.panel {
	border-radius: 8px;
}

.panel-heading {
	h2 {
		text-align: center;
	}
}

.margin-top {
	margin-top: 20px;
}

#image-preview {
	margin: 0px auto;
}

#post_image {
	padding: 1em;
	margin: 0px auto;
}

#paginator {
	height: 120px;
	width: 120px;
	margin: 60px auto 40px;
	position: relative;
	display: table;
}

#load_more {
	display: table-cell;
	font-size: 12px;
	padding: 0px 9px;
	vertical-align: middle;
}

.display-wrapper {
	max-width: 200px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	color: #125688;

	span {
		padding: 0px 10px;
		display: inline-block;
		cursor: pointer;

		&:hover {
			color: #333;
		}

		&.disabled {
			cursor: not-allowed;
			opacity: .65;
			color: #125688;
		}
	}
}

#posts {
	margin-top: 20px;
	margin-bottom: 40px;
}

.mosaic {
	padding: 0;
	height: 170px;
	position: relative;
	overflow: hidden;

	.img {
		position: absolute;
		top: 0;
	}

	@media (max-width: 768px) {
		height: auto;

		.post {
			margin-bottom: 0px;
		}
	}
}